$background-color-header: #00a152;
$background: #33eb91;
$font-color: #fff;

#pag-cadastro {
  width: 100vw;
  height: 100vh;
  background: $background;
  display: flex;
  align-items: center;
  justify-content: center;

}


